.contain-main {
    display: grid;
    place-items: center;
    width: 100%;
}
.contain-cart {
    display: flex;
    flex-wrap: wrap;
}

.contain-cart__left {
    margin: 10px;
    flex: 1;
    width: 100%;
}
.contain-cart__left__table {
    width: 100%;
}
.contain-cart__left__title {
    width: 100%;
    display: flex;
    color: var(--gray-title);
}

.contain-cart__left__title__tr {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding: 5px 0;
}

.contain-cart__left__body__tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.contain-cart__left__body__tr td {
    margin: 0 10px;
}
.contain-cart__left__body__remove {
    height: 25px;
    width: 30px;
    border: 1px solid grey;
    color: grey;
    border-radius: 100%;
    display: grid;
    place-items: center;
    cursor: pointer;
}
.contain-cart__left__body__img {
    width: 100px;
    height: 100px;
}

.contain-cart__left__body__number {
    width: 80px;
}

.contain-cart__right {
    flex: 1;
    margin: 0 50px;
}

.contain-cart__left__buttons--continue, .contain-cart__left__buttons--update {
    padding: 5px;
    margin: 10px;
    font-size: 1.6rem;
    cursor: pointer;
}

.contain-cart__left__buttons--continue {
    color: var(--button-buy);
    border: 1px solid var(--button-buy);
    background-color: white;
}
.contain-cart__left__buttons--continue:hover {
    color: white;
    background-color: var(--button-buy);
}

.contain-cart__left__buttons--update {
    color: white;
    background-color: var(--update-cart);
    border: none;
}

.contain-cart__left__buttons--update:hover {
    border: 1px solid var(--button-buy-hover);
    background-color: var(--button-buy-hover);
}


.contain-cart__right {
    width: 300px;
}

.contain-cart__right__title {
    font-size: 2rem;
    position: relative;
    width: 300px;
    color: var(--gray-title);
}

.contain-cart__right__title__table {
    position: relative;
    width: 300px;}

.contain-cart__right__title__tr {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contain-cart__right__order {
    width: 300px;
    padding: 10px;
    font-size: 1.8rem;
    background-color: var(--button-buy);
    color: white;
    cursor: pointer;
    margin: 10px 0;
}

.contain-cart__right__order:hover {
    background-color: var(--button-buy-hover);
}

.contain-cart__right__voucher__title {
    font-size: 1.8rem;
    margin: 10px 0;
    position: relative;
    width: 300px;
}

.contain-cart__right__voucher__input, .contain-cart__right__sumbit {
    margin: 10px 0;
    width: 300px;
    padding: 0.5rem;
    font-size: 1.8rem;
}

.contain-cart__right__sumbit {
    cursor: pointer;
}

.contain-cart__right__title::after, .contain-cart__right__title__table::after, .contain-cart__right__voucher__title::after, .contain-cart__left__title__tr::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px; 
    background: rgb(228, 226, 226);
    top: 100%;
    left: 0;
}

@media screen and (max-width: 600px) {
    .contain-cart__left__body__price {
        display: none;
    }
  }