.container-body {
    margin: 0;
    left: 0;
    right: 0;
}

.container-body .header-bg {
    display: flex;
    justify-content: center;
}

.container-body .brand .brand__item img {
    width: 200px;
    height: auto;
}

.container-body .brand__title {
    font-size: 16px;
    text-align: center;
    border-bottom: 2px solid gray;
    line-height: 0.03em;
    margin: 20px 0 20px;
}

.container-body .brand {
    display: flex;
    justify-content: center;
}

.container-body .brand .brand__item {
    margin: 0 20px;
}


/* .container-body .brand .brand__title h3 {
    width: 100%;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
} */

.container-body .brand__title h3 span {
    background: #fff;
    padding: 0 10px;
}