.main {
    width: 1100px;
    /* display: flex; */
    margin: auto;
}

.slide-img img {
    width: 98%;
    background-size: contain;
    margin-top: 30px;
}

.label-list img {
    width: 70px;
    margin-left: 100px;
}

.featured-product__heading {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 50px;
    text-transform: uppercase;
}

.register-noti__form {
    width: 1100px;
    display: flex;
    margin: 15px auto;
}

.register-noti__form input {
    width: 30%;
    height: 50px;
    padding: 10px 5px;
    font-size: 1.6rem;
    color: black;
    outline-color: #dddddd;
    border: 1px solid #dddddd;
    border-right: none;
    margin-left: 300px;
}

.register-noti__form button {
    padding: 10px 30px;
    outline-color: #dddddd;
    border: 1px solid #dddddd;
    transform: translateX(-5px);
    font-weight: bold;
    font-size: 1.8rem;
    cursor: pointer;
    background-color: #eee8e2;
    text-transform: uppercase;
}

.container-adss {
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.container-adss__content {
    background-color: rgb(238, 232, 226);
    border-radius: 5px;
    width: 45%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 30px 0 15px 30px;
}

.container-adss__content--heading {
    font-size: 2.5rem;
}

.container-adss__content--des {
    font-size: 1.6rem;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    margin-top: 20px;
    user-select: none;
}

.container-adss__content--link {
    font-size: 1.6rem;
    color: black;
    display: inline-block;
    margin-top: 20px;
    font-weight: bold;
    letter-spacing: 1 px;
}

.container-adss__content-img img {
    width: 200px;
    float: right;
}

.most-view {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    background-color: rgb(238, 232, 226);
}

.most-view__img img {
    width: 300px;
    margin-left: 100px;
}

.most-view__text {
    padding-top: 25px;
}

.most-view__text--heading {
    font-size: 2.5rem;
    padding-top: 20px;
}

.most-view__text--des {
    font-size: 1.6rem;
    padding-right: 150px;
    text-align: justify;
    padding-top: 10px;
}

.most-view__text--link {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.most-view__text button {
    padding: 10px 50px;
    border: 1px solid #dddddd;
    margin-top: 30px;
    cursor: pointer;
}


/* TABLET  */

@media (min-width: 740px) and (max-width: 1023px) {
    .main {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .container-adss {
        flex-direction: column;
        margin: auto;
    }
    .container-adss__content {
        width: 95%;
        margin: 30px auto;
    }
    .most-view {
        width: 95%;
        margin: 30px auto;
    }
    .most-view__img img {
        width: 230px;
        background-size: cover;
        margin-left: 0px;
        margin-top: 17px;
    }
    .most-view__text {
        padding-top: 0px;
    }
    .most-view__text button {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .most-view__text--des {
        padding-right: 70px;
    }
    .register-noti__form input {
        margin-left: 140px;
    }
}


/* MOBILE  */

@media (max-width: 739px) {
    .container-adss {
        flex-direction: column;
    }
    .featured-product {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        flex-direction: column;
    }
    .slide-img {
        display: none;
    }
    .container-adss__content {
        width: 34%;
        margin-left: 6px;
    }
    .container-adss__content-img img {
        width: 130px;
    }
    .container-adss__content--heading {
        font-size: 1.6rem;
    }
    .container-adss__content--link {
        font-size: 1.4rem;
    }
    .container-adss__content--des {
        font-size: 1.2rem;
    }
}