/* MOBILE  */

@media (max-width: 739px) {
    .container-footer,
    .container-product-list,
    .container-breadcrumb {
        width: 736px;
        max-width: 100%;
        position: relative;
        overflow-x: hidden;
    }
    .header-moblie-tablet {
        width: 736px;
        max-width: 100%;
    }
    .header-bar {
        font-size: 2rem;
        margin-left: 30px;
        cursor: pointer;
    }
    .header-logo {
        width: 100px;
    }
    .header-customer__cart,
    .header-customer__user {
        font-size: 2rem;
        margin-right: 20px;
    }
    .breadcrumb-header__heading,
    .breadcrumb-link p,
    .breadcrumb-link p span,
    .breadcrumb-filter,
    .breadcrumb-filter a i,
    .breadcrumb-filter a {
        text-align: center;
        font-size: 1.4rem;
    }
    .nav-mobile-tabletr-search {
        margin: 30px 10px 20px 10px;
    }
    .nav-mobile-tabletr-search input {
        width: 80%;
        height: 36px;
        padding-left: 10px;
        outline: none;
    }
    .btn-search {
        width: 50px;
        height: 36px;
        margin-right: 10px;
    }
    .nav-mobile-tablet {
        position: fixed;
        inset: 0;
        z-index: 1;
        transition: 0.35s ease-in;
        visibility: hidden;
        background-color: rgba(0, 0, 0, 0.3);
        left: -100%;
    }
    .nav-list-mobile-tablet {
        position: absolute;
        height: 100%;
    }
    .open {
        visibility: visible;
        left: 0;
    }
    .nav-list-flex-mobile-tablet {
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.6);
        width: 230px;
        height: 100%;
    }
    .nav-item-mobile-tablet {
        width: 100%;
        height: 45px;
        display: block;
        cursor: pointer;
    }
    .nav-item-mobile-tablet:hover {
        background-color: #bdbdbd;
    }
    .nav-item-mobile-tablet a {
        color: rgb(255, 255, 255);
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 4.5rem;
        margin-left: 30px;
    }
    .nav-btn-moblie-tablet {
        position: fixed;
        top: 4%;
        right: 2%;
    }
    .btn-moblie-tablet-exit {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .btn-moblie-tablet-exit i {
        font-size: 2.6rem;
        color: rgb(255, 255, 255);
    }
    .list-price__item {
        text-align: left;
    }
    .product-item__name,
    .product-item__price--old-price,
    .product-item__price--new-price,
    .pagination-item a {
        font-size: 1.2rem;
    }
    .product-item__sale-label--percent {
        font-size: 1.4rem;
    }
    .pagination-list {
        display: flex;
        margin: auto;
        width: 736px;
        max-width: 100%;
        justify-content: space-evenly;
    }
    .pagination {
        margin: 20px 2px;
    }
    .pagination-item {
        margin: 0 5px;
    }
    .footer-col__heading,
    .footer-item a {
        font-size: 1.4rem;
    }
    .product-item {
        width: 46%;
        margin: 9px 7px;
    }
    .product-item__sale-label {
        --value: 40px;
        width: var(--value);
        height: var(--value);
    }
    .filter-price {
        width: 230px;
    }
    .list-price__item {
        margin: 30px 2px;
    }
    .list-price__item a {
        font-size: 1.4rem;
    }
    .list-price__item a:hover {
        font-size: 1.4rem;
    }
    .breadcrumb-filter a {
        padding-left: 9px;
    }
    .container-footer {
        display: none;
    }
    .container-footer-moblie {
        display: block;
    }
    .nav-item-mobile-tablet i {
        font-size: 1.6rem;
        color: white;
        float: right;
        margin-right: 40px;
        transform: translateY(14px);
    }
    .menu-child-mobile-tablet1,
    .menu-child-mobile-tablet2 {
        height: 50px;
        display: none;
    }
    .openChild {
        display: block;
    }
    .menu-child-mobile-tablet1:hover,
    .menu-child-mobile-tablet2:hover {
        display: block;
        background-color: #bdbdbd;
        z-index: 1;
    }
    .menu-child-mobile-tablet1 a,
    .menu-child-mobile-tablet2 a {
        font-size: 1.4rem;
        font-weight: bolder;
        color: white;
        margin-left: 50px;
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        z-index: 1;
        line-height: 5rem;
    }
    .rotate180 {
        transform: rotate(-180deg);
    }
    .about-header__heading,
    .about-text__paragraph {
        margin: 0 30px;
    }
}


/* TABLET  */

@media (min-width: 740px) and (max-width: 1023px) {
    .container-footer,
    .container-product-list,
    .container-breadcrumb {
        width: 736px;
        position: relative;
        margin: 0;
    }
    .container-about {
        width: 736px;
    }
    .about-header__heading,
    .about-text__paragraph {
        margin: 0 30px;
    }
    .header-moblie-tablet {
        width: 736px;
        max-width: 100%;
    }
    .header-bar {
        font-size: 2.6rem;
        margin-left: 30px;
        cursor: pointer;
    }
    .header-logo {
        width: 100px;
    }
    .header-customer__cart,
    .header-customer__user {
        font-size: 2.6rem;
        margin-right: 30px;
    }
    .breadcrumb-header__heading,
    .breadcrumb-link,
    .breadcrumb-filter {
        text-align: center;
    }
    .nav-mobile-tabletr-search {
        margin: 30px 10px 20px 10px;
    }
    .nav-mobile-tabletr-search input {
        width: 80%;
        height: 36px;
        padding-left: 10px;
        outline: none;
    }
    .btn-search {
        width: 50px;
        height: 36px;
        margin-right: 10px;
    }
    .nav-mobile-tablet {
        position: fixed;
        inset: 0;
        z-index: 1;
        /* opacity: 0; */
        transition: 0.25s ease-in;
        visibility: hidden;
        background-color: rgba(0, 0, 0, 0.7);
        left: -100%;
    }
    .nav-list-mobile-tablet {
        position: absolute;
        height: 100%;
    }
    .open {
        visibility: visible;
        /* opacity: 1; */
        left: 0;
    }
    .nav-list-flex-mobile-tablet {
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.6);
        width: 300px;
        height: 100%;
        position: relative;
    }
    .nav-item-mobile-tablet {
        width: 100%;
        height: 55px;
        display: block;
        cursor: pointer;
    }
    .nav-item-mobile-tablet:hover {
        background-color: #bdbdbd;
    }
    .nav-item-mobile-tablet a {
        color: rgb(255, 255, 255);
        font-size: 1.6rem;
        font-weight: bold;
        line-height: 5.5rem;
        margin-left: 30px;
    }
    /* MENU CHILD  */
    .menu-child-mobile-tablet1,
    .menu-child-mobile-tablet2 {
        height: 50px;
        display: none;
    }
    .openChild {
        display: block;
    }
    .menu-child-mobile-tablet1:hover,
    .menu-child-mobile-tablet2:hover {
        display: block;
        background-color: #bdbdbd;
        z-index: 1;
    }
    .menu-child-mobile-tablet1 a,
    .menu-child-mobile-tablet2 a {
        font-size: 1.6rem;
        font-weight: bolder;
        color: white;
        margin-left: 50px;
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow-y: hidden;
        z-index: 1;
        line-height: 5rem;
    }
    .nav-btn-moblie-tablet {
        position: fixed;
        top: 2%;
        right: 2%;
    }
    .btn-moblie-tablet-exit {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .btn-moblie-tablet-exit i {
        font-size: 3.2rem;
        color: rgb(255, 255, 255);
    }
    /* MENU CHILD  */
    .list-price__item {
        text-align: left;
    }
    .product-item__name,
    .product-item__price--old-price,
    .product-item__price--new-price,
    .product-item__sale-label--percent,
    .pagination-item a {
        font-size: 1.2rem;
    }
    .footer-col__heading,
    .footer-item a {
        font-size: 1.4rem;
    }
    .product-item__sale-label {
        --value: 30px;
        width: var(--value);
        height: var(--value);
    }
    .nav-item-mobile-tablet i {
        font-size: 1.6rem;
        color: white;
        float: right;
        margin-right: 40px;
        transform: translateY(21px);
    }
}


/* MOBILE + TABLET  */

@media (max-width: 1023px) {
    .container-header,
    .container-navigation {
        display: none;
    }
    .header-moblie-tablet,
    .nav-mobile-tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}