
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.HrefALinkHeader = "/Content/css/cart.css";
    ViewBag.RelALinkHeader = "stylesheet";
}


<!-- BREADCRUMB START -->
<div class="bg-breadcrumb">
    <div class="container-breadcrumb ">
        <div class="breadcrumb-header">
            <h2 class="breadcrumb-header__heading">CART</h2>
        </div>
        <div class="breadcrumb-link">
            <p>HOME <span>/ CART </span></p>

        </div>
        <div class="breadcrumb-filter">
            <a class="js-show-filter">
                <i class="fas fa-list"></i> SORT BY PRICE
            </a>

            <div class="modal">
                <div class="filter-price">
                    <ul class="list-price">
                        <li class="list-price__item">
                            <a href="">From $50 To $100</a>
                        </li>
                        <li class="list-price__item">
                            <a href="">From $100 To $400</a>
                        </li>
                        <li class="list-price__item">
                            <a href="">From $400 To $1000</a>
                        </li>
                        <li class="list-price__item">
                            <a href="">From $1000 To $1500</a>
                        </li>
                        <li class="list-price__item">
                            <a href="">From $1500 To $2500</a>
                        </li>
                        <li class="list-price__item">
                            <a href="">From $2500 To $3000</a>
                        </li>
                        <li class="list-price__item">
                            <a href="">Up $3000</a>
                        </li>
                    </ul>
                </div>
                <div class="modal-btn">
                    <button class="btn-exit">
                        <a><i class="fas fa-times"></i></a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMB END -->
<!-- START CART  -->
<div class="container-cart">
    <div class="cart-list">
        <div class="cart-list__item">
            <div class="cart-btn-select">
                <input type="checkbox">
            </div>
            <div class="cart-list__item--img">
                <a href="">
                    <img src="~/Content/image/product/cckt01_1.jpg" alt="">
                </a>
            </div>
            <div class="cart-list__item--name">
                <a href=""> CHRONOGRAPH TITANIUM BLUE</a>
            </div>
            <div class="cart-list__item--quantity">
                <input type="number" min="1" max="20" value="1">
            </div>
            <div class="cart-list__item--price">
                <span>$159.354</span>
            </div>
            <div class="cart-btn-remove">
                <i class="fas fa-trash-alt"></i>
            </div>

        </div>
        <div class="cart-list__item">
            <div class="cart-btn-select">
                <input type="checkbox">
            </div>
            <div class="cart-list__item--img">
                <a href="">
                    <img src="~/Content/image/product/cckt06_1.jpg" alt="">
                </a>
            </div>
            <div class="cart-list__item--name">
                <a href=""> CHRONOGRAPH TITANIUM BLUE</a>
            </div>
            <div class="cart-list__item--quantity">
                <input type="number" min="1" max="20" value="1">
            </div>
            <div class="cart-list__item--price">
                <span>$159.354</span>
            </div>
            <div class="cart-btn-remove">
                <i class="fas fa-trash-alt"></i>
            </div>

        </div>
        <div class="cart-list__item">
            <div class="cart-btn-select">
                <input type="checkbox">
            </div>
            <div class="cart-list__item--img">
                <a href="">
                    <img src="~/Content/image/product/cckt27_1.jpg" alt="">
                </a>
            </div>
            <div class="cart-list__item--name">
                <a href=""> CHRONOGRAPH TITANIUM BLUE</a>
            </div>
            <div class="cart-list__item--quantity">
                <input type="number" min="1" max="20" value="1">
            </div>
            <div class="cart-list__item--price">
                <span>$159.354</span>
            </div>
            <div class="cart-btn-remove">
                <i class="fas fa-trash-alt"></i>
            </div>

        </div>
    </div>
    <div class="cart-text-total">
        <p>Total <span>$999.159</span></p>
    </div>
    <div class="container-btn-cart">
        <div class="cart-btn-back">
            <button>
                <a href="">Back</a>
            </button>
        </div>
        <div class="cart-btn-checkout">
            <button>
                <a href="">Continue Checkout</a>
            </button>
        </div>
    </div>
</div>

<!-- END CART  -->