
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.HrefALinkHeader = "/Content/css/contact.css";
    ViewBag.RelALinkHeader = "stylesheet";
}

<!-- BREADCRUMB START -->
<div class="bg-breadcrumb">
    <div class="container-breadcrumb ">
        <div class="breadcrumb-header">
            <h2 class="breadcrumb-header__heading">CONTACT</h2>
        </div>
        <div class="breadcrumb-link">
            <p>HOME <span>/ CONTACT</span></p>

        </div>
        <div class="breadcrumb-filter">
            <a class="js-show-filter">
                <i class="fas fa-list"></i> SORT BY PRICE
            </a>

            <div class="modal">
                <div class="filter-price">
                    <ul class="list-price">
                        <li class="list-price__item">
                            <a href="">From $50 To $100</a>
                        </li>
                        <li class="list-price__item">
                            <a href="">From $100 To $400</a>
                        </li>
                        <li class="list-price__item">
                            <a href="">From $400 To $1000</a>
                        </li>
                        <li class="list-price__item">
                            <a href="">From $1000 To $1500</a>
                        </li>
                        <li class="list-price__item">
                            <a href="">From $1500 To $2500</a>
                        </li>
                        <li class="list-price__item">
                            <a href="">From $2500 To $3000</a>
                        </li>
                        <li class="list-price__item">
                            <a href="">Up $3000</a>
                        </li>
                    </ul>
                </div>
                <div class="modal-btn">
                    <button class="btn-exit">
                        <a><i class="fas fa-times"></i></a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMB END -->

<div class="container-contact">
    <div class="contact-left">
        <div class="contact-left__background">
            <img src="~/Content/image/background/bg-form.jpg" alt="">
        </div>
        <div class="contact-left__social">
            <a href="">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a href="">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="">
                <i class="fab fa-youtube"></i>
            </a>


        </div>
    </div>
    <div class="contact-right">
        <div class="contact-right__header">
            <h2 class="contact-right__header--heading">
                Need Help ?
            </h2>
            <p class="contact-right__header--des">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut fugiat vel sapiente dicta ut officia labore voluptates, rerum aperiam quasi ullam hic illum, quas quidem accusamus deserunt commodi eum architecto.
            </p>
        </div>
        <div class="contact-right__form">
            <form action="">
                <div class="input-contact">
                    <label class="contact-right__form--label">Name</label>
                    <input type="text">
                </div>
                <div class="input-contact">

                    <label class="contact-right__form--label">Email</label>
                    <input type="text">
                </div>

                <div class="input-contact">
                    <label class="contact-right__form--label">Want To Say Something else ?</label>
                    <!-- <input type="text"> -->
                    <textarea></textarea>
                </div>
            </form>
            <div class="contact-right__btn">
                <button>
                    <a href="">CONTACT</a>
                </button>
            </div>
        </div>

    </div>
</div>



