
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.HrefALinkHeader = "/Content/css/forgotpassword.css";
    ViewBag.RelALinkHeader = "stylesheet";
}

<!-- BREADCRUMB START -->
<div class="bg-breadcrumb">
    <div class="container-breadcrumb ">
        <div class="breadcrumb-header">
            <h2 class="breadcrumb-header__heading">FORGOT PASSWORD </h2>
        </div>
        <div class="breadcrumb-link">
            <p>HOME <span>/ FORGOT PASSWORD</span></p>

        </div>
        <div class="breadcrumb-filter">
            <a class="js-show-filter">
                <i class="fas fa-list"></i> SORT BY PRICE
            </a>

            <div class="modal">
                <div class="filter-price">
                    <ul class="list-price">
                        <li class="list-price__item">
                            <a href="">From $50 To $100</a>
                        </li>
                        <li class="list-price__item">
                            <a href="">From $100 To $400</a>
                        </li>
                        <li class="list-price__item">
                            <a href="">From $400 To $1000</a>
                        </li>
                        <li class="list-price__item">
                            <a href="">From $1000 To $1500</a>
                        </li>
                        <li class="list-price__item">
                            <a href="">From $1500 To $2500</a>
                        </li>
                        <li class="list-price__item">
                            <a href="">From $2500 To $3000</a>
                        </li>
                        <li class="list-price__item">
                            <a href="">Up $3000</a>
                        </li>
                    </ul>
                </div>
                <div class="modal-btn">
                    <button class="btn-exit">
                        <a><i class="fas fa-times"></i></a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMB END -->



<div class="container-forgot">
    <div class="forgot-left">
        <div class="forgot-left__img">
            <img src="~/Content/image/background/bg-form.jpg" alt="">
        </div>
    </div>
    <div class="forgot-right">
        <div class="forgot-right__header">
            <h1 class="forgot-right__header--heading">Welcome Back!</h1>
            <p class="forgot-right__header--des">Please use the account you have been give to forgot!</p>
        </div>
        <div class="forgot-right__form">
            <form action="">
                <p class="warning">Complete Full Infomation, Please !</p>
                <div class="forgot-input">
                    <label>Email</label>
                    <input type="text" name="email">
                </div>

                <div class="forgot-input">
                    <label>Phone</label>
                    <input type="text" name="phone">
                </div>
                <div class="forgot-input">
                    <label>Password Recently</label>
                    <input type="text" name="password_recently">
                </div>
                <div class="forgot-select">
                    <a href="">Register Account</a>
                    <a href="">Login Account</a>
                </div>
                <div class="forgot-right__btn">
                    <button type="submit">
                        <a href="">CONFIRM</a>
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>

